.leyaun_header,.leyuan_head{
	width: 100%;
	height: 50px;
	background: #000;
	color: #fff;
	font-size: 16px;
	position: relative;
}
.leyuan_back{
	width: 50px;
	height: 100%;
	position: absolute;
	left:20px;
}
.leyuan_back span{display: inline-block;height: 50px;line-height: 50px;}
.leyuan_home{
	width: 100%;
	height: 50px;
	line-height: 100%;
	text-align: center;
	position: absolute;
}
.leyuan_home h2{
	width: 100%;
	height: 50px;
	line-height: 50px;
}
.leyuan_items{
	width: 50px;
	height: 100%;
	line-height: 50px;
	position: absolute;
	right: 20px;
}
.leyuan_items span{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
}
.leyuan_nav{
	width: 100%;
	height: 50px;
}

.leyuan_nav_list{
	width: 100%;
	height: 50px;
}
.leyuan_nav_list li{
	float: left;
	width: 33.33%;
	height: 100%;
	text-align: center;
	line-height: 100%;
}
.leyuan_nav_list a{
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #000;
	line-height: 50px;
	font-size: 16px;
}
/*.leyuan_nav_list li:first-child a{
	border-bottom: 1px solid red;
}*/
.city_list{
	width: 100%;
	position: absolute;
	margin-top:2px ;
	left: 0;
	display: none;
	z-index: 5;
	background: #fff;
}
.city_list li{
	width: 33%;
	height: 35px;
	float: left;
	line-height: 35px;
	border:.5px solid gray;
}
.city_list li{
	border-left:none;
	border-bottom: none;
}
.city_list li:nth-child(17),.city_list li:nth-child(18){
	border-bottom:.5px solid gray; 
}
.city_list li:nth-child(3n){
	border-right: none;
}
.leyuan_img,.leyuan_img_list{
	width: 100%;
	position: relative;
}
.leyuan_img_list li,.leyuan_img_list li img{
	width: 100%;
	height: 150px;
}

.leyuan_img_list li{
	position: relative;
	background: #000;
	margin-top: 3px;
}
.leyuan_img_list li img{
	position: absolute;
	opacity: 0.7;
}
.leyuan_img_name,.address,.space{
	position: absolute;
	color: #fff;
	font-size: 20px;
}
.address{
	top:110px;
	left:20px;
}
.leyuan_img_name{
	top:80px;
	left:20px;
}
.space{
	top: 65px;
	right: 20px;
}
.icon_1{
font-size: 30px;
color: #fff; 
}
.bottom{
	width: 100%;
	height: 60px;
}
