html,body{width: 100%;}
/*#wrapper{
	position: absolute;
	top:45px;
}*/
.home_header,.home_head{
	width: 100%;
	height: 50px;
	background: #000;
	color: #fff;
	font-size: 16px;
	position: relative;
}
.home_back{
	width: 50px;
	height: 100%;
	position: absolute;
	left:20px;
}
.home_back span{display: inline-block;height: 50px;line-height: 50px;}
.home_home{
	width: 100%;
	height: 50px;
	line-height: 100%;
	text-align: center;
	position: absolute;
}
.home_home h2{
	width: 100%;
	height: 50px;
	line-height: 50px;
}
.home_items{
	width: 50px;
	height: 100%;
	line-height: 50px;
	position: absolute;
	right: 20px;
}
.home_items span{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
}
.swiper-container{
	width:100%;
	height: 170px;
}
.swiper-pagination{
	position: absolute;
	top:150px; 
}
.swiper-slide{
	width:100%;
	height: 150px;
}
.swiper-slide img{
	width: 100%;
	height: 100%;
}

.home_class,.home_class_list{
	width: 100%;
	height: 150px;
}
.home_class_list li{
	float: left;
	width: 49%;
	height: 150px;
}
.home_class_list li:first-child{
	margin-right:2%; 
}
.home_class_list li img{
	width: 100%;
	height: 100%;
}
.home_tuijian{
	width: 100%;
	height:50px ;
	padding: 0.1px;
}
.home_tuijian_content{
	width: 150px;
	height: 50px;
	margin: 15px auto 0;
	font-size: 24px;

}
.home_tuijian_content_line,.home_tuijian_content_text{
	width: 100%;
}
.home_tuijian_content_text{
	margin: 5px 0 0 5px;
	text-align: center;
	color: red;
}
.home_tuijian_content_line{
	border-top:1px solid red;
}
.home_img,.home_img_list{
	width: 100%;
}
.home_img_list li,.lazy{
	width: 100%;
	height: 150px;
}
/*.lazy{.home_img_list li img
	width: 100%;
	height: 150px;
}*/
.home_img_list li{
	margin-top:10px; 
}
.home_img_list li:first-child{
	margin-top:20px; 
}
.bottom{
	width: 100%;
	height: 60px;
}
/**/

