<header class="home_header">
  <div class="home_head">
    <section class="home_back"><span><&nbsp;返回</span></section>
    <section class="home_home"><h2>首页</h2></section>
    <section class="home_items"><span></span> <span></span> <span></span></section>
  </div>
</header>
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <div class="clearfix"></div>
    <div class="home_class" >
        <ul class="home_class_list">
        </ul>
    </div>
    <div class="clearfix"></div>
    <div class="home_tuijian">
        <div class="home_tuijian_content">
            <div class="home_tuijian_content_line"></div>
            <div class="home_tuijian_content_text">精彩推荐</div>
            <div class="home_tuijian_content_line"></div>
        </div>
    </div>
    <div class="home_img">
        <ul class="home_img_list">
        </ul>
    </div>
<div class="bottom"></div>
