.me_account_wrap,.me_account_wrap1,.account_list1,.account_list2{
	width:100% ;
}
.account_list1 li {
	width: 90%;
	height: 50px;
	font-size: 16px;
	margin: 0 auto;
}
.account_num{
	clear: both;
	text-align: center;
	
}
#account_num{
	font-size: 35px;
	height: 100px;
	line-height: 100px;
}
.account_use{
	float: left;
}
.account_apply{
	padding: 5px 8px 5px 8px;
	border:1px solid red;
	color: red;
	border-radius: 5px;
	float: right;
}
.account_list2 li{
	width: 50%;
	height: 50px;
	line-height: 50px;
	float: left;
	text-align: center;
	font-size: 20px;
	border-top:1px solid gray;
	border-bottom:1px solid gray; 
}
.p{
	clear:both ;
	width: 100%;
	font-size: 20px;
	text-align: center;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid gray;
}