<div class="dingdan_zhifu">
	<div class="fanhui">
		<section class="section1">
			<p class="fanhui_btn"><span></span><span class="fanhui_button"><a href="">返回</a></span></p><span class="tijiao">提交订单</span>
		</section>
		<section class="section2">
			<span></span><span></span><span></span>
		</section>
	</div>
	<div class="dingdan_header">
		<p>新都乐享30次卡</p>
	</div>
	<div class="dingdan_list">
		<ul >
			<li><span class="right">数量：</span><span class="left">1</span></li>
			<li><span class="right">单价：</span><span class="left">1700:00</span></li>
			<li><span class="right">联系方式：</span><span class="iconfont left alter">&#xe619;</span><span class="left">13214321332</span></li>
			<li><span class="right yue">使用余额：</span><span class="left">0:00</span></li>
		</ul>
	</div>
	<div class="zhifukuan">
		<ul>
			<li class="jine"><span>实付款：</span><span>1700:00</span></li>
			<li class="instant_pay">立即支付</li>
		</ul>
	</div>
</div>