body,#container,.dingdan_zhifu{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.fanhui{
	width: 100%;
	background: #000;
	height: 45px;
	color: #fff;
	font-size: 16px;
	line-height: 45px;
}
.section1{
	width: 60%;
	float: left;
	margin-left:10px; 
}
.tijiao{
	float: right;
}
.fanhui_btn{
	float: left;
	height: 45px;
	width: 30%;
}
.fanhui_button a{
	color: #fff;
	text-decoration: none;
}
.section2{
	width: 10%;
	float: right;
}
.section2 span{
	background: #fff;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	margin-left:3px; 

}
.fanhui_btn,.fanhui span{
	display: inline-block;
}
.dingdan_zhifu{	
	width: 100%;
	height: 100%;
	background:#eeeeee; 
	z-index: 1000;
	position: relative;
	overflow: hidden;
}
.dingdan_header,.dingdan_list{
	width: 100%;
	background: #fff;
}
.dingdan_header p {
	width: 85%;
	margin: 0 auto;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
}
.dingdan_list ul{
	width: 95%;
	margin: 0 auto;
}
.dingdan_list ul li{
	width: 90%;
	height: 40px;
	margin: 0 auto;
	line-height: 40px;
	font-size: 16px;
	color: #595757;
	border-bottom: 1px solid gray;
	padding: 0 5px 0 5px;
}
.dingdan_list ul li:last-child{
	border-bottom: none;
}
.right{
	display: inline-block;
	float: left;
}
.left{
	display: inline-block;
	float: right;
}
.alter{
	font-size: 24px;
}
.zhifukuan{
	width: 100%;
	height: 60px;
	margin-top:80%; 
	overflow: hidden;
}
.zhifukuan ul{
	width: 100%;
	height: 100%;
}
.zhifukuan ul li{
	text-align: center;
	line-height: 60px;
	width: 50%;
	height: 100%;
	float: left;
	font-size: 16px;
}
.jine{
	background: #e6e6e6;
}
.instant_pay{
	background: #ec6d65;
}