<div id="wrap">
<div class="me_pot">
	<div class="me_pot_pic"><img src="touxiang.jpg" alt=""></div>
	<div class="me_sm_pic"></div>
</div>
<div class="me_list">
	<ul class="list">
		<li><a href="" >我是代言人</a><span class="iconfont">&#xe618;</span></li>
		<li><a href="#/dingdan" >我的订单</a><span class="iconfont">&#xe618;</span></li>
		<li><a href="" >我的优惠券</a><span class="iconfont">&#xe618;</span></li>
		<li><a href="#/account" >我的账户</a><span class="iconfont">&#xe618;</span></li>
		<li><a href="" >玩乐商城</a><span class="iconfont">&#xe618;</span></li>
		<li class="tucao_btn"><a href="" >我要吐槽</a><span class="iconfont">&#xe618;</span></li>
	</ul>
</div>
<div class="tucao">
	<form action="">
	<div class="content">
		<input type="text" placeholder="你想吐槽点什么？请输入..." id="content">
	</div>
	<div class="phone">
		<input type="text" placeholder="怎么联系您？" id="phone">
	</div>
	<div class="btn">
		<button id="btn">取消</button><button>提交</button>
	</div>
	</form>
</div>
</div>