.wrap{
	width: 100%;
	background: #eeeeee;
	height: 100%;
	padding: 0.1px;
	overflow: hidden;
}
#container{
	height: 100%;

}
.share{
	margin-top:20px; 
	width: 100%;
	height: 50%;
	background:#fff ;
}
.icon_2,.share_text{
	width: 100%;
	text-align: center;
}
.icon_2{
	font-size: 100px;
	color: #b7b7b9;
	
}
.share_text{
	font-size: 24px;
	margin-bottom:10px; 
	color: gray;
}
.buy{
	height: 50%;
	width: 100%;
	margin-top:20px; 
	margin-bottom:40%; 
	background: #fff;
	text-align: center;
}
.buy_text,.goshoping{
	width: 100%;
}
.buy_text p,.goshoping a{
	color: #b7b7b9;
	width: 100%;
	text-align: center;
}
.buy_text p{
	font-size: 20px;
	margin-bottom:10px;

}
.goshoping a{
	font-size: 16px;
	display: inline-block;
	margin-bottom:10px; 
	color: blue;
}